*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 6px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

body {
    margin: 0;
    background-color: #F5F5F5;
    font-family: 'Arial Black';
    user-select: none
}

#optionsMenu {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#topMenu {
    width: 100%;
    height: 46px;
    background-color: black;
    color: white;
    font-size: 2em;
}

#title {
    display: inline-block;
}

.logo {
    display: inline-block;
    vertical-align: top;
    margin: 2px;
}

#info {
    display: inline-block;
    float:  right;
    text-align:  right; 
    font-size: 0.3em;
    color:  white;
}

#leftPane {
    margin-top:  4px;
    margin-right:  4px;
    margin-left:  0.5%;
    vertical-align: top;
    display: inline-block;
    height: 500px;
    width:  25%;
}

#dataPane {
    position: relative;
    vertical-align: top;
    display: inline-block;
    border: 2px solid #7D7D7D;
    height: 336px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#help {
    position: absolute;
    right: -40px;
    bottom: 6px;
    margin-right:  20%;
    color:  black;
    border:  1px solid black;   
    font-size: 0.8em;
    height:  20px;
    line-height:  20px;
    width:  20px;
    border-radius: 50%;    
    text-align: center;
    cursor:  pointer;
}

#help.on {    
    background-color:  black;
    color:  white;
}

#toolTip {
    position: fixed;
    display: none;
    background-color: black;
    border: 1px solid white;
    color:  white;
    font-size: 0.6em;
    padding: 3px;
}

#canvasContainer {
    height: 300px;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 5px;
}

#instrumentationPane {
    border: solid 1px #7D7D7D;
    border-collapse: collapse;
    padding: 2px;
    vertical-align: top;
    margin: 0 auto;
}

.instrument {
    border: 2px solid #7D7D7D;
    height: 8px;
    line-height: 8px;
    width: 16px;
    font-size: 0.75em;
    text-align: center;
}

.trueBasic {
    background-color: lightblue;
}

.trueAdvanced {
    background-color: maroon;
    color: lightgrey;
}

#notesPane {   
    overflow-y: auto;
    text-align: center;
    height:  156px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid #7D7D7D;
    margin-top:  4px;
}

#databasePane {
    margin-top:  4px;
    display: inline-block;
    border: 2px solid #7D7D7D;
    height: 500px;
    width: 73%;
    overflow-y: auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input {
    display: block;
    margin: auto;
}

.menuOption {
    cursor: pointer;
    vertical-align: top;
    display: inline-block;
    width: 14.28%;
    height: 22px;
    text-align: center;
    color: white;
    border-top: 1px solid white;
    font-size: 0.9em;
}

.menuOption.a {
    background: #636363;
}

.menuOption.b {
    background: #7D7D7D;
}

.menuOption.m:hover {
    color: lightblue;
    border-top: 1px solid lightblue;
}

.menuOption.l:hover {
    color:  lightgrey;
    border-top: 1px solid lightgrey;
}

.piece {
    position: relative;
    vertical-align: top;
    background-color:lightgrey            ;
    width: 23%;
    height: 150px;
    display: inline-block;
    float: left;
    padding: 3px;
    margin: 5px;
    font-size: 0.5em;
    cursor: pointer;
    border:  1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius:  5px;
}

.piece:hover {
    border: 1px solid grey;
}

.selectedPiece {
    background-color: lightblue;
}

.analyzerData {
    position: absolute;
    top: -5px;
    right: 5px;
    color: grey;
    z-index: 3;
}

#infoCover {
    position: absolute;
    width: 100%;
    height: 100%;;
    background-color: black;
    color: white;
    opacity: 0.90;
    margin: -4px;
    border-radius: 5px;
    border: 1px solid white;
    z-index: 2;
}

.analyzeThis {
    position: absolute;
    bottom: 0;
    right: 8px;
    color: grey;
    z-index: 1;
}

.cLevel {
    position: absolute;
    bottom: 0;
    left: 8px;
    color: maroon;
}

.analyzeThis:hover, .analyzerData:hover {
    color: white;
}

.dataCat {
    color: lightblue;
}

.analysisCount {
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: lightblue;
    z-index: 3;
}

.noNotes {
    background-color: red;
    color: white;
    font-size: 0.65em;
    margin-top: 2px;
}

.difficultyNote, .instrumentationNote {
    width:  95%;
    font-size: 0.65em;
    margin: auto;
    margin-top: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.difficultyNote {
    background-color: lightgrey;
}

.instrumentationNote {
    background-color: darkgrey;
}

#numberOfPercussion {
    background-color: white;
}

#pageCover {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    z-index: 100;
}

#pageCover:hover {
    background-color: maroon;
}

#overlayPane {
    background-color: white;
    position: fixed;
    top: 0%;
    bottom: 0%;
    right: 10%;
    left: 10%;
    opacity: 1.0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 101;
}

#buffer {
    height: 20%;
}

#userEmail, #userBand {
    width: 80%;
    display: block;
    outline: none;
    border: none;
    border-left: 2px solid black;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 8px;
}

#loginButton, #newAccountButton, #searchButton {
    background: black;
    border: none;
    width:  100px;
    padding: 10px 20px 10px 20px;
    border-bottom: 3px solid white;
    border-radius: 3px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 8px;
    cursor: pointer;
}

#loginButton:hover, #newAccountButton:hover, #searchButton:hover {
    border-bottom: 3px solid lightblue;
    color: lightblue;
}

#loginButton:disabled {
    cursor:  default;
    background-color: grey;
    color: lightgrey;
    border-bottom: 3px solid lightgrey;    
}

#intro {
    width: 80%;
    margin: auto;
    background-color: black;
    color: white;
    margin-top: 10%;
    font-size: 1.6em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loader {
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 15px;
    height: 15px;
    margin: 40% auto;
    border: 6px solid grey;
    border-radius: 50%;
    border-top: 6px solid lightblue;
    animation: spin 2s linear infinite;
}

.loaderExternal {
    z-index: 1;
    width: 15px;
    height: 15px;
    margin: 20% auto;
    border: 6px solid grey;
    border-radius: 50%;
    border-top: 6px solid lightblue;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#emailLink:hover, #versionNumber:hover {
    color: darkgrey;
    cursor: pointer;
}

#searchTerm {
    border:  2px solid black;
}

.searchItem {
    display: inline-block;
    -webkit-appearance: none;
    border: 2px solid black;
    width: 15px;
    height:  15px;
    border-radius: 5px;
}

.searchItem:hover {
    cursor: pointer;
}

.searchItem:checked {
    background-color: lightblue;
}